#footer {
    color:#FFC;
    height:40px;
    position:fixed;
    border-top: solid 0px #FFC;
    padding: 0;
    bottom: 0;      
}

#page {
    border-bottom: solid 0px #FFC;
    height: 368px;
    padding: 0;
    bottom: 0;
}
